apiVersion: v1
kind: Service
metadata:
  name: selenium-chrome-service
spec:
  selector:
    app: chrome-node
  ports:
    - protocol: TCP
      port: 4444
      targetPort: 4444

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: chrome-node-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chrome-node
  template:
    metadata:
      labels:
        app: chrome-node
    spec:
      containers:
      - name: chrome-browser
        image: selenium/standalone-chrome:latest
        ports:
        - containerPort: 4444
        volumeMounts:
        - mountPath: /dev/shm
          name: dshm
      volumes:
      - name: dshm
        emptyDir:
          medium: Memory

---
apiVersion: batch/v1
kind: Job
metadata:
  name: test-controller-job
spec:
  template:
    spec:
      containers:
      - name: test-controller
        image: test-controller-image:latest  
        imagePullPolicy: Never            
        env:
        - name: PYTHONUNBUFFERED
          value: "1"
      restartPolicy: Never
  backoffLimit: 0