controller:
  image: test-controller-image:latest
  pullPolicy: Never

chrome:
  image: selenium/standalone-chrome:latest
  port: 4444
  nodeCount: 1

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 256Mi